/*////////////// Fonts //////////////*/
@font-face {
	font-family: 'Baskerville', serif; ;
    src: url(Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#title-heading {
	font-size: 5em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	padding-bottom: 10px;
	margin: 0 0 5px;
	border-bottom: 1px solid rgb(197,197,197);
}

.no-underline {
	text-decoration: none;
	color: rgb(139,160,154);
}

.no-underline:hover {
	color: rgb(100,116,111);
}

.image-border {
	border: 5px solid rgb(136, 157, 150);
}

.smaller-title {
	font-size: 2em;
	color: rgb(100,116,111);
}

p a.wiki-link {
	text-decoration: none;
	color: rgb(22,120,183);
}

.bottom-image {
	border: 5px solid rgb(197,197,197);
	transition: border 0.2s ease;
  border-color: rgb(197,197,197);
}

.bottom-image:hover {
  border-color: gray;
}

#copyright-info {
	text-align: right;
	padding-top: 15px;
	font-size: 0.8em;
}
